.navigation :global .MuiDrawer-paper {
  justify-content: space-between;
}

.navigation :global .MuiMenuItem-root {
  min-height: 4rem;
  min-width: 14rem;
}

.linksGroup {
  margin-top: 2rem;
}

.accountItem {
  margin-bottom: 1rem;
}
